[Unit]
Description=Zorin service
After=network.target

[Service]
ExecStart= java -jar zmq.jar
WorkingDirectory=/home/user/zorin
Type=simple
Restart=always
RestartSec=10
StandardOutput=null

User=user

[Install]
WantedBy=multi-user.target